body{
    margin: 0px;
}
div, table{
    margin-left:auto;
    margin-right: auto;
}

.gamediv{
    width: 700px;
    height: 400px;
    background-color: green;
}

.controlcenter{
    width: 200px;
    height: 150px;
    margin: auto;
    text-align: center;
    /*border: 1px solid red;*/
}